/* CSS Document */

body {
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	color:#444444;
	font-family:Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
	overflow-x:hidden;
}

a:link,a:visited {
	color:#08797f;
}

a:hover,a:active {
	color:#ff0066;
}

hr {
   border-width: 2px 0px 0px 0px;
   border:solid #CCCCCC 2px;
}

/*検索結果*/
#result {
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}

.content {
	padding: 20px 29px;
}

.highlight {
	padding: 0px 10px;
}